In [4]:
import pandas as pd

In [2]:
data = pd.read_csv('C:/Users/Enrique/Documents/New ProtoADME Models/CYP_1A2_substrate/raw_data/modified Zaretzki data set/SoM_dataset.csv', sep=';')

# Seleccionar columnas que comiencen con "PRIMARY_SOM_"
primary_som_columns = [col for col in data.columns if col.startswith("PRIMARY_SOM_")]
primary_som_data = data[primary_som_columns]

# Mostrar las primeras filas de estas columnas para confirmar la selección
primary_som_data.head()

,PRIMARY_SOM_1A2,PRIMARY_SOM_2A6,PRIMARY_SOM_2B6,PRIMARY_SOM_2C19,PRIMARY_SOM_2C8,PRIMARY_SOM_2C9,PRIMARY_SOM_2D6,PRIMARY_SOM_2E1,PRIMARY_SOM_3A4
0,7,7,7,7,7,7,7,7,7
1,3 4,NaN,NaN,NaN,NaN,NaN,3,3,3
2,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,NaN,5,NaN,NaN,NaN,NaN,5,5
4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Reemplazar valores numéricos por 'R' y valores faltantes por 'N'
modified_primary_som_data = primary_som_data.applymap(lambda x: '1' if pd.notna(x) else '0')

# Aplicar las modificaciones directamente sobre el dataframe original
data[primary_som_columns] = modified_primary_som_data

data.to_csv('Substrate_db_from_SoM.csv', sep=';', index=False)

C:\Users\Enrique\AppData\Local\Temp\ipykernel_8936\2141407693.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  modified_primary_som_data = primary_som_data.applymap(lambda x: '1' if pd.notna(x) else '0')

In [19]:
data = pd.read_excel('C:/Users/Enrique/Documents/New ProtoADME Models/CYP_1A2_substrate/raw_data/CYP_generalDB.xlsx')

# Seleccionar columnas que comiencen con "PRIMARY_SOM_"
primary_som_columns = [col for col in data.columns if col.startswith("CYP")]
primary_som_data = data[primary_som_columns]

# Reemplazar 'N' por '0' en las columnas "PRIMARY_SOM_"
for column in primary_som_columns:
    data[column] = data[column].apply(lambda x: '0' if x == 'N' else x)

# Mostrar las primeras filas para confirmar los cambios
data.to_csv('CYP_generalDB_final.csv', sep=';', index=False)